@use "sass:color";
@use "@/styles/global/tokens";

.react-multi-carousel-list {
  display: flex;
  align-items: center;
  overflow: visible !important;
  position: relative;
  width: 100%;
  padding-bottom: 4em;
  z-index: tokens.$layer-1;
  // padding-inline: 3em;
}
.react-multi-carousel-track {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  position: relative;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  will-change: transform, transition;
}
.react-multiple-carousel__arrow {
  position: absolute;
  outline: none;
  transition: all 0.5s;
  z-index: 1000;
  border: none;
  border-radius: 0;
  background: var(--c-teal-700) !important;
  width: auto;
  height: auto;
  opacity: 1;
  cursor: pointer;
  display: block;

  &::after {
    display: none !important
    ;
  }
}
.react-multiple-carousel__arrow:hover {
  background: var(--c-linkHover);
}
.react-multiple-carousel__arrow::before {
  content: tokens.$i-chevron;
  font-family: tokens.$f-icons;
  font-size: 2em;
  color: var(--c-white);
  display: block;
  text-align: center;
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: none;
  opacity: 1;
  width: 1em;
  height: 1em;
}
.react-multiple-carousel__arrow:disabled {
  cursor: default;
  background: rgba(0, 0, 0, 0.5);
}

.react-multiple-carousel__arrow--left {
  left: -1em !important;
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;

  &::before {
    transform: translate(-50%, -50%) rotate(180deg);
  }
}
.react-multiple-carousel__arrow--right {
  right: -1em !important;
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
}

.react-multi-carousel-dot-list {
  position: absolute;
  bottom: 0;
  display: flex;
  left: 0;
  right: 0;
  justify-content: center;
  margin: auto;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.react-multi-carousel-dot button {
  display: inline-block;
  width: 1em;
  height: 0.2em;
  border-radius: 0.5em;
  opacity: 1;
  background: var(--c-slateGray-200);
  border: none !important;
  padding: 0.15em;
  transition: all 0.5s;
  margin-right: 6px;
  outline: 0;
  cursor: pointer;
}
.react-multi-carousel-dot button:hover:active {
  background: green;
}
.react-multi-carousel-dot--active button {
  background: var(--c-navy-400) !important;
  width: 2em;
}
.react-multi-carousel-item {
  transform-style: preserve-3d;
  backface-visibility: hidden;
  padding-inline: clamp(1rem, 1.5vw, 1.5rem);
  display: flex;

  .item-content {
    display: flex;
    flex-direction: column;
    background: var(--c-white);
    overflow: hidden;
    border-radius: tokens.$borderRadius-xl;
    flex: 1;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.1);

    .item-head {
      position: relative;
      img {
        &.school-thumbnail {
          display: block;
          width: 100%;
          height: clamp(9rem, 12vw, 12rem);
          object-fit: cover;
          background: lightcyan;
        }
      }
      .school-logo {
        display: block;
        width: clamp(3.5rem, 4vw, 4rem);
        height: clamp(3.5rem, 4vw, 4rem);
        background: var(--c-white);
        border-top-left-radius: 0.3em;
        border-top-right-radius: 0.3em;
        position: absolute;
        bottom: 0;
        left: clamp(1rem, 2vw, 2rem);
        overflow: hidden;

        img {
          width: 90%;
          object-fit: contain;
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
          left: 50%;
          height: 90%;
        }
      }
    }
    .item-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: clamp(1rem, 2vw, 2rem);

      .item-head {
        display: block;
        width: 100%;

        h3,
        h4 {
          color: var(--c-navy-700);
          font-size: clamp(1rem, 1.2vw, 1.2rem);
          margin: 0;
        }
        p {
          font-size: tokens.$size-3;
        }
      }
      p {
        color: var(--c-navy-700);
        font-size: clamp(0.8rem, 1.5vw, 0.95rem);
      }

      button {
        // background-color: tokens.$c-orange-500;
        // color: tokens.$c-blue-800;
        // border-color: tokens.$c-orange-500;

        span {
          margin: 0;
        }

        &:hover {
          // background: color.adjust(tokens.$c-orange-500, $lightness: 30%);
        }
      }
    }

    .item-foot {
      padding: clamp(1rem, 2vw, 2rem);
      margin-block: auto 0;
      padding-top: 0;
      margin-top: 0;

      button {
        span {
          font-size: clamp(tokens.$size-3, 1.5vw, tokens.$size-4);
          padding-block: 0.45rem;
          padding-inline: 0.5rem 1.5em;
        }
      }
    }
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .react-multi-carousel-item {
    flex-shrink: 0 !important;
  }
  .react-multi-carousel-track {
    overflow: visible !important;
  }
}

// [dir='rtl'].react-multi-carousel-list {
//   direction: rtl;
// }
// .rtl.react-multiple-carousel__arrow--right {
//   right: auto;
//   left: calc(4% + 1px);
// }
// .rtl.react-multiple-carousel__arrow--right::before {
//   content: "\e824";
// }
// .rtl.react-multiple-carousel__arrow--left {
//   left: auto;
//   right: calc(4% + 1px);
// }
// .rtl.react-multiple-carousel__arrow--left::before {
//   content: "\e825";
// }
