@use "@/styles/global/tokens";

.adcResultsHero {
  position: relative;

  .adcResultsTitle {
    text-align: center;
  }

  .animation {
    // width: 100%;
    // height: 25rem;

    // & > div {
    //   position: absolute;
    //   height: clamp(15rem, 45vw, 45rem);
    //   width: 100%;
    // }
  }
}

.theResult {
  background: var(--c-bg5);
  padding: clamp(tokens.$padding-l, 5vw, tokens.$padding-xxl);
  position: absolute;
  max-width: tokens.$mq-1000;
  bottom: 2em;
  border-radius: tokens.$size-5;

  // &.show {
  //   display: block;
  //   margin-top: -25rem;
  //   transition: all 1s ease-in-out;
  // }

  p {
    // text-align: center;
    font-size: clamp(1rem, 2vw, 1.5rem);
  }
}
