@use "@/styles/global/tokens";

.adcResultsHero {
  position: relative;
  gap: 0;

  .adcResultsTitle {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 2em;
    position: relative;
    margin-bottom: -1em;

    @media (min-width: tokens.$mq-800) {
      padding-bottom: 2em;
    }

    strong {
      position: absolute;
      width: 100%;
      left: 50%;
      top: 60%;
      transform: translateX(-50%);
    }
  }

  .animation {
    max-height: clamp(20rem, 50vw, 50rem);
  }
}

.theResult {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.theResultDescription {
  background: var(--c-bg5);
  padding: clamp(tokens.$padding-l, 5vw, tokens.$padding-xxl);
  position: relative;
  max-width: tokens.$mq-1000;
  border-radius: tokens.$size-5;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  margin-top: clamp(-24rem, -22vw, -10rem);

  .detailedDescription {
    p {
      font-size: clamp(1rem, 2vw, 1.5rem);
    }
  }
}

.needHelpCta {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid var(--c-border-3);
  padding: tokens.$padding-l;
  padding-bottom: 0;
}
