@use "sass:color";
@use "@/styles/global/tokens";

.matchedSchools {
  display: block;
  position: relative;
  width: 100%;
  margin: 0 auto;
  min-height: 35rem;
  padding: 0;
  background: var(--c-bg1);
  padding-block: clamp(tokens.$padding-m, 5vw, tokens.$padding-l);

  &::before {
    content: "";
    display: block;
    width: 50%;
    height: 100%;
    background: var(--c-bg7);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: tokens.$layer-1;
    border-top-right-radius: 100%;

    @media (max-width: tokens.$mq-900) {
      height: 65%;
      width: 80%;
    }
  }

  &::after {
    content: "";
    display: block;
    font-size: clamp(tokens.$size-8, 8vw, tokens.$size-10);
    width: 0.8em;
    height: 4.2em;
    background: url("/images/appily-vector-shapes.svg") no-repeat center;
    background-size: contain;
    position: absolute;
    z-index: tokens.$layer-2;
    left: 0;
    bottom: 0;

    @media (max-width: tokens.$mq-900) {
      display: none;
    }
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: clamp(tokens.$padding-s, 10vw, tokens.$padding-xxxl);
    padding-block: clamp(tokens.$padding-s, 10vw, tokens.$padding-xxxl);

    @media (min-width: tokens.$mq-1300) {
      flex-direction: row;
    }
  }

  .intro {
    position: relative;
    z-index: tokens.$layer-3;

    h2 {
      font-size: clamp(tokens.$size-6, 5vw, tokens.$size-8);
      color: var(--c-headingTertiary);
      font-weight: tokens.$fontWeight-extrabold;
    }
    p {
      font-size: clamp(tokens.$size-4, 2vw, tokens.$size-6);
    }
  }

  .container {
    position: relative;
    z-index: tokens.$layer-3;
    flex-shrink: 0;
    width: 100%;
    min-height: 45rem;

    @media (min-width: tokens.$mq-1300) {
      width: clamp(20rem, 80vw, 80rem);
      padding-left: 4em;
      padding-right: 0;
    }
  }
}

.hide {
  position: absolute;
}

.carouselForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: 4em;
  padding-inline: 4em;
  position: relative;
  background: rgba(black, 0.8);
  backdrop-filter: blur(5px);
  width: 100vw;
  height: 100vh;
  z-index: tokens.$layer-99;
  position: fixed;
  top: 0;
  left: 0;

  .formContentWrapper {
    background: white;
    border-radius: tokens.$borderRadius-xl;
    padding: 3em;
    position: relative;
    width: 100%;
    max-width: tokens.$mq-600;
  }

  .closeBtn {
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    border: none;
    font-size: clamp(0.9rem, 1.5vw, 1.2rem);
    // color: tokens.$c-turquoise-500;

    &:hover {
      // color: tokens.$c-orange-500;
    }
  }

  .intro {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: tokens.$mq-900;

    h3 {
      // color: tokens.$c-white;
      text-align: center;
    }
    p {
      font-size: clamp(1rem, 2vw, 2rem);
      text-align: center;
    }
  }

  form {
    // margin: 2em auto;
  }
}
