@use "@/styles/global/tokens";

.qGroup {
  padding-block: 0.25em;

  &.isInvalid {
    label {
      color: var(--c-error);
    }
    input,
    select {
      border-color: var(--c-error);
    }

    span {
      color: var(--c-error);
    }
  }

  .fieldLabel {
    display: flex;
    line-height: 1;
    margin-bottom: -0.2em;
    margin-left: 0.5em;
    z-index: 100;
    padding-inline: 0.2em;
    position: relative;
    background: var(--c-white);
    width: fit-content;
    color: var(--c-teal-700);

    label {
      font-size: tokens.$size-2;
      color: var(--c-black);
    }
    span {
      color: var(--c-error);
    }
  }

  input,
  select {
    border-radius: tokens.$borderRadius-s;
    font-size: tokens.$size-5;
    padding: 0.5em;
    width: 100%;
    border: 1px solid var(--c-border-inputs);
    background-color: var(--c-slateGray-100);
    font-family: tokens.$f-sans;

    @media (pointer: coarse) {
      &:hover {
        border-color: var(--c-teal-700);
        background: var(--c-teal-50);
      }
    }
  }

  select {
    width: auto;
    max-width: 100%;
  }

  &.text,
  &.email,
  &.tel,
  &.checkboxgrp,
  &.select,
  &.zip_code {
    border: none;
  }

  &.freetext {
    flex: 1 0 100%;
    font-size: tokens.$size-3;
    a {
      text-decoration: none;
      font-weight: 400;
    }
  }

  small {
    font-size: tokens.$size-2;
    color: var(--c-bodyPrimary);
    padding-block: 0.5em;
  }
}

.hidden {
  display: none;
}

.checkboxGroupLabel {
}

.checkboxGroupContainer {
  padding-block: 0.5em;

  .checkboxGroup {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 0.8em;

    .checkBox {
      display: flex;
      align-items: center;
      gap: 0.3em;

      input {
        width: 1em;
        height: 1em;
      }
      label {
        font-size: tokens.$size-3;
        font-weight: tokens.$fontWeight-light;
      }
    }
  }
}
