@use "@/styles/global/tokens";

.pageFooter {
  display: block;
  background-color: var(--c-navy-700);
  margin-block: auto 0;
  padding-inline: clamp(tokens.$padding-m, 5vw, tokens.$padding-l);
  padding-block: 4em;
  position: relative;
  z-index: tokens.$layer-3;
  border-top: tokens.$borderWidth-s solid var(--c-teal-700);

  .wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    max-width: tokens.$mq-1300;
    margin: 0 auto;
    gap: tokens.$size-4;

    @media (min-width: tokens.$mq-800) {
      flex-direction: row;
      gap: 0;
    }
  }

  p {
    margin: 0;
    color: var(--c-white);
  }

  a {
    color: var(--c-teal-500);
  }

  ul {
    display: flex;
    gap: tokens.$size-4;
    list-style: none;
    margin: 1em 0 0 0;

    li {
      // padding-inline: 1em;

      .helpPrivBtn {
        // display: flex;
        // align-items: center;
        gap: 0.5em;
        // text-transform: uppercase;
        // text-decoration: none;
        font-size: tokens.$size-3;
        background: none;
        // border-color: var(--c-teal-500);
        color: var(--c-teal-600);
        border: none;

        // &:hover {
        //   background-color: tokens.$c-blue-500;
        //   border-radius: 0;
        //   text-decoration: underline;
        // }
      }

      // border-right: 1px solid tokens.$c-blue-500;

      &:first-child {
        // border-left: 1px solid tokens.$c-blue-500;
      }
    }
  }
}

.logo {
  display: block;
  position: relative;
  width: 8rem;
  height: 2.5em;

  img {
    object-fit: contain;
  }
}

.legalInfo {
  display: flex;
  flex-direction: column;
  gap: tokens.$size-2;

  ul {
    display: flex;
    flex-direction: column;
    gap: tokens.$size-1;
    margin-bottom: 3em;

    li {
      a {
        font-size: tokens.$size-3;
      }
    }
  }

  .copyright {
    p {
      font-size: tokens.$size-3;
    }
  }
}
