// Page Header Module styles
@use "@/styles/global/tokens";

.pageHeader {
  background: var(--c-bg-body);
  position: sticky;
  top: 0;
  z-index: tokens.$layer-999;
  padding-block: 0.3em;

  &.noNav {
    @media (min-width: tokens.$mq-1100) {
      padding-block: clamp(tokens.$padding-s, 5vw, tokens.$padding-m);
    }
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding-inline: clamp(tokens.$padding-m, 5vw, tokens.$padding-xl);
  gap: clamp(tokens.$size-2, 5vw, tokens.$size-7);
  position: relative;

  @media (max-width: tokens.$mq-1100) {
    padding-block: clamp(tokens.$padding-s, 1vw, tokens.$padding-m);
  }
}
