@use "@/styles/global/tokens";

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: tokens.$mq-500;
  position: relative;
  margin: 0 auto;
  text-align: center;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: var(--c-bg2);

  &::before {
    content: " ";
    display: block;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 6px solid var(--c-bg2);
    border-color: var(--c-bg2) transparent var(--c-bg2) transparent;
    animation: loading 1.2s linear infinite;
  }
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
