image: node

variables:
  NEXT_PUBLIC_CMS_URL: $NEXT_PUBLIC_CMS_URL

before_script:
  - yarn install

stages:
  - lint
  - build
  - deploy

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - node_modules/
    - .next/cache/

lint project:
  stage: lint
  script:
    - echo "Linting Next.js app"
    # - yarn install
    - yarn lint

build project:
  stage: build
  script:
    - echo "Building Next.js app"
    - echo ["${CI_COMMIT_REF_NAME}"]
    - echo "NODE_ENV is ${NODE_ENV}"
    # - if [ "${CI_COMMIT_REF_NAME}" != "main" ]; then export NEXT_PUBLIC_ISDEV=true; fi
    # - env | grep -e ACS_PRIVATE_KEY -e ACS_PUBLIC_KEY -e APPILY_API_KEY -e APPILY_API_URL -e PARTNER_EXTERNAL_ID -e PROGRAM_EXTERNAL_ID -e NEXT_PUBLIC_GOOGLE_TAG_MANAGER_ID -e NEXT_PUBLIC_ISDEV >> .env.production
    - echo "NEXT_PUBLIC_ISDEV is ${NEXT_PUBLIC_ISDEV}"
    - echo "NEXT_PUBLIC_CMS_URL is ${NEXT_PUBLIC_CMS_URL}"
    # - yarn install
    - yarn build
  artifacts:
    paths:
      - .next/

deploy:
  stage: deploy
  only:
    - tags
  script:
    - echo "Deploying to production server..."
