@utility container-*{
  max-width: --value(--container-*);
  margin-inline: auto;
  width: 90%;
}

/* ---------------------------- */
/* Decorative Appily Petal */

@utility deco-petal-*{
  &::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 70%;
    aspect-ratio: 1/1;
    max-height: 100%;
    background: --value(--color-*);
  }
}

@utility deco-petal-right-*{
  &::before{
    right: calc(var(--spacing) * --value(integer))
  }
}

@utility deco-petal-left-*{
  &::before{
    left: calc(var(--spacing) * --value(integer))
  }
}

@utility deco-petal-tl-*{
  &::before{
    border-top-left-radius: calc(--value(integer) * 1%);
  }
}

@utility deco-petal-tr-*{
  &::before{
    border-top-right-radius: calc(--value(integer) * 1%);
  }
}

/* -------------------------------- */
