@use "sass:color";
@use "@/styles/global/tokens";
// ==================================================
@use "@/styles/layouts/Section"; // Note Andrei: this import is in place while the static components are still being used. It should be removed once all components are dynamic.
// ==================================================

.stats {
  background: var(--c-bg5);
  position: relative;
  border-top: tokens.$borderWidth-s solid var(--c-border-5);

  & > div {
    flex-direction: column;
  }

  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    position: relative;
    gap: tokens.$size-5;

    @media (min-width: tokens.$mq-1000) {
      flex-direction: row;
      gap: 0;
    }

    li {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      gap: clamp(1rem, 3vw, 3rem);
      padding-block: clamp(tokens.$padding-m, 2vw, tokens.$padding-xl);
      padding-left: 1em;
      border-left: 0.3em solid var(--c-border-5);
      flex: 1;
      width: 100%;

      @media (min-width: tokens.$mq-1000) {
        flex-direction: column;
        align-items: flex-start;
        border-left: 0;
        border-right: 0.3em solid var(--c-border-5);
        padding-inline: clamp(tokens.$padding-m, 2vw, tokens.$padding-xl);
        padding-block: 0;
      }

      &:last-child {
        border-right: 0;
      }
    }
  }

  .source {
    display: block;
    padding-top: 0.5em;
    margin-top: 2em;
    width: 100%;
    border-top: 1px solid var(--c-border-5);
    position: relative;
    font-style: italic;
    font-size: var(--fs-s);
  }
}
