// Colors
@use "sass:color";

// Note: AO waiting for DSS to confirm official and approved colors
// Primary Appily Branding Colors
$c-black: #111518;
$c-white: #fff;
$c-orange: #ed8b00;
$c-slateGray: #333f48;
$c-yellow: #ffe510;
$c-teal: #00b1b0;

// Secondary Appily Branding Colors
$c-navy: #031d32;
// $c-violet: #d100ff;
$c-violet: #e468ff;

$c-error: #cc0000;
