@font-face {
  font-family: "Icomoon";
  src: url("/fonts/icomoon.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

$f-sans: "museo-sans", sans-serif;
$f-serif: "museo-slab", serif;
$f-mono: monospace;
$f-icons: "icomoon";

$f-body: $f-sans;
$f-heading: $f-serif;

$f-lineHeight-normal: 1.5;
$f-lineHeight-expanded: 1.8;
$f-lineHeight-condensed: 1.2;
$f-lineHeight-tight: 1;

$fontWeight-thin: 100;
$fontWeight-light: 300;
$fontWeight-normal: 400;
$fontWeight-medium: 500;
$fontWeight-semibold: 600;
$fontWeight-bold: 700;
$fontWeight-extrabold: 800;
$fontWeight-black: 900;

// $fs-xxl: 2.2rem;
