//* Icons

$i-people: "\e909";
$i-building: "\e90a";
$i-certificate: "\e90b";
$i-skills: "\e90c";
$i-chevron: "\e90d";
$i-privacy: "\e90e";
$i-work: "\e90f";
$i-education: "\e910";
$i-help: "\e911";
$i-motivation: "\e912";
$i-checkmark: "\e913";

$i-age-icon: "\e900";
$i-education-icon: "\e901";
$i-finances-icon: "\e902";
$i-free-time-icon: "\e903";
$i-motivation-icon: "\e904";
$i-studying-icon: "\e905";
$i-support-icon: "\e906";
$i-tech-icon: "\e907";
$i-time-mgt-icon: "\e908";

$i-advance: "\e914";
$i-fork-knife-icon: "\e915";
$i-health-icon: "\e916";
$i-military-icon: "\e917";
$i-other-icon: "\e918";
$i-suitcase-icon: "\e919";
$i-surprise-icon: "\e91a";
$i-switch-icon: "\e91b";

// .icon-fork-knife-icon:before {
//   content: "\e915";
//   color: #fff;
// }
// .icon-health-icon:before {
//   content: "\e916";
//   color: #fff;
// }
// .icon-military-icon:before {
//   content: "\e917";
//   color: #fff;
// }
// .icon-other-icon:before {
//   content: "\e918";
//   color: #fff;
// }
// .icon-suitcase-icon:before {
//   content: "\e919";
//   color: #fff;
// }
// .icon-surprise-icon:before {
//   content: "\e91a";
//   color: #fff;
// }
// .icon-switch-icon:before {
//   content: "\e91b";
//   color: #fff;
// }
// .icon-age-icon:before {
//   content: "\e900";
//   color: #fff;
// }
// .icon-education-icon:before {
//   content: "\e901";
//   color: #fff;
// }
// .icon-finances-icon:before {
//   content: "\e902";
//   color: #fff;
// }
// .icon-free-time-icon:before {
//   content: "\e903";
//   color: #fff;
// }
// .icon-motivation-icon:before {
//   content: "\e904";
//   color: #fff;
// }
// .icon-studying-icon:before {
//   content: "\e905";
//   color: #fff;
// }
// .icon-support-icon:before {
//   content: "\e906";
//   color: #fff;
// }
// .icon-tech-icon:before {
//   content: "\e907";
//   color: #fff;
// }
// .icon-time-mgt-icon:before {
//   content: "\e908";
//   color: #fff;
// }
// .icon-uniE900:before {
//   content: "\e909";
// }
// .icon-uniE901:before {
//   content: "\e90a";
// }
// .icon-uniE902:before {
//   content: "\e90b";
// }
// .icon-uniE903:before {
//   content: "\e90c";
// }
// .icon-uniE904:before {
//   content: "\e90d";
// }
// .icon-uniE905:before {
//   content: "\e90e";
// }
// .icon-uniE906:before {
//   content: "\e90f";
// }
// .icon-uniE907:before {
//   content: "\e910";
// }
// .icon-uniE908:before {
//   content: "\e911";
// }
// .icon-uniE909:before {
//   content: "\e912";
// }
// .icon-uniE90A:before {
//   content: "\e913";
// }
