//* Icons

$i-people: "\e909";
$i-building: "\e90a";
$i-certificate: "\e90b";
$i-skills: "\e90c";
$i-chevron: "\e90d";
$i-privacy: "\e90e";
$i-work: "\e90f";
$i-education: "\e910";
$i-help: "\e911";
$i-motivation: "\e912";
$i-checkmark: "\e913";

$i-age-icon: "\e900";
$i-education-icon: "\e901";
$i-finances-icon: "\e902";
$i-free-time-icon: "\e903";
$i-motivation-icon: "\e904";
$i-studying-icon: "\e905";
$i-support-icon: "\e906";
$i-tech-icon: "\e907";
$i-time-mgt-icon: "\e908";
