// Size variables

// $font-size-xxxs: 0.65rem;
// $font-size-xxs: 0.78rem;
// $font-size-xs: 0.88rem;
// $font-size-s: 1rem;
// $font-size-m: 1.15rem;
// $font-size-l: 1.3rem;
// $font-size-xl: 1.8rem;
// $font-size-xxl: 2.2rem;
// $font-size-xxxl: 3.5rem;
// $font-size-xxxxl: 4.5rem;

$size-1: 0.55rem;
$size-2: 0.78rem;
$size-3: 0.88rem;
$size-4: 1rem;
$size-5: 1.25rem;
$size-6: 1.5rem;
$size-7: 2rem;
$size-8: 3rem;
$size-9: 4rem;
$size-10: 6rem;

$borderRadius-xxs: 0.125rem;
$borderRadius-xs: 0.25rem;
$borderRadius-s: 0.5rem;
$borderRadius-m: 1rem;
$borderRadius-l: 1.5rem;
$borderRadius-xl: 2rem;
$borderRadius-xxl: 3rem;
$borderRadius-xxxl: 4rem;

$borderWidth-xxs: 0.0625rem;
$borderWidth-xs: 0.1rem;
$borderWidth-s: 0.125rem;
$borderWidth-m: 0.25rem;
$borderWidth-l: 0.5rem;
$borderWidth-xl: 0.75rem;
$borderWidth-xxl: 1rem;
$borderWidth-xxxl: 1.5rem;
