.rowcontent {
    display: flex; /* Use flexbox to create a flexible layout */
  flex-wrap: wrap; /* Allow the row to wrap onto multiple lines if necessary */
  margin-bottom: 20px;
  
}
.row {
    display: flex;
    flex-direction: row;
}