@use "@/styles/global/tokens";

.post-content__wrapper {
  display: block;
  margin: 0 auto;
  width: 90%;
  max-width: tokens.$mq-1000;
}

.post-header {
  display: block;
  padding-inline: clamp(1rem, 5%, 2rem);
  padding-block: clamp(2rem, 5vw, 6rem) 2rem;
  border-bottom: 1px solid var(--c-border-1);
  margin-bottom: 2rem;

  h1 {
    margin: 0 0 0.2em;
    font-size: clamp(2.5rem, 5vw, 4rem);
  }

  .post-dates {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    font-size: 0.9rem;
    margin: 0;
  }
}

.post-hero {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: tokens.$mq-1200;
  padding-inline: clamp(0rem, 5%, 2rem);
}

.post__featured-image {
  border-radius: clamp(1rem, 2vw, 2rem);
  overflow: hidden;
  max-height: 70vh;
}

.post-content {
  display: block;
  width: 100%;
  max-width: tokens.$mq-1200;
  margin: 0 auto;
  padding-block: clamp(2rem, 4vw, 4rem);

  p {
    width: 100%;
    max-width: 70ch;
    margin-inline: auto;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    line-height: 1.7;
  }
}

.post__published-date {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  margin-bottom: 3em;
  padding-bottom: 0.2em;
  text-transform: uppercase;
  font-size: 0.75rem;
  color: var(--c-bodyPrimary);

  span {
    line-height: 1;

    &.date-label {
      font-weight: 300;
      font-size: 0.65rem;
    }

    &.date-value {
      font-weight: 600;
      color: var(--c-bodySecondary);
    }
  }
}

.post__date-author {
  color: var(--c-bodyPrimary);
  font-weight: 300;
  font-size: 0.9rem;
  border-left: 2px solid var(--c-linkPrimary);
  padding-left: 0.5em;
  line-height: 1;
}

.related-posts {
  margin-block: clamp(2rem, 4vw, 4rem);

  .cards-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 0;
    margin: 0;

    @media (min-width: tokens.$mq-800) {
      flex-direction: row;
    }

    article {
      display: flex;
      width: 100%;
      flex: 1;

      a {
        display: flex;
        flex-direction: column;
        padding: clamp(1rem, 2vw, 2rem);
        flex: 1;
        border-radius: clamp(1rem, 2vw, 2rem);
        text-decoration: none;
        border: 1px solid var(--c-posts-border);
        background-color: var(--c-bg-posts);
        color: var(--c-bodyPrimary);
        overflow: hidden;

        &:hover {
          text-decoration: none;
          background: var(--c-bg1);

          h2 {
            text-decoration: underline;
          }
        }
      }

      h2 {
        font-size: clamp(1.3rem, 1.5vw, 1.5rem);
      }
    }
  }
}
