@use "@/styles/global/tokens";

[class*="__rows"] {
  flex-direction: column;

  .row {
    &__horAligned-right {
      justify-content: flex-end;
    }

    &__horAligned-center {
      justify-content: center;
    }

    &__horAligned-left {
      justify-content: flex-start;
    }

    &__verAligned-bottom {
      align-items: flex-end;
    }

    &__verAligned-center {
      align-items: center;
    }

    &__verAligned-top {
      align-items: flex-start;
    }

    &__extend-to-borders {
      margin-inline: calc(-1 * clamp(tokens.$padding-s, 6vw, tokens.$padding-xl));
      margin-block: calc(-1 * clamp(tokens.$padding-xxl, 10vw, tokens.$padding-xxxxl));

      @media (max-width: tokens.$mq-800) {
        width: 100vw;
        margin-bottom: 0;
      }

      .block__wrap {
        display: flex;
        flex: 1;
      }
    }

    .block__wrap {
      width: 100%;
    }
  }

  // .row__extend-to-borders {
  //   background: purple;
  // }
}
