//=================
// Colors

$orange: #ED8B00;
$yellow: #FFE510;
$slate: #333F48;
$teal: #00B1B0;

$violet: #E468FF;
$darkOrange: #D96800;
$darkTeal: #037680;
$darkNavy: #031D32;
$lightYellow: #FFFBDB;
$lightGray: #F7F7F9;
$lightTeal: #E0F1F1;

$violet-200:#FACDFF;
$orange-200:#FAE6CC;


$primaryColors: (
  "orange": $orange,
  "yellow": $yellow,
  "slate": $slate,
  "teal": $teal
);

$secondaryColors: (
  "violet": $violet,
  "darkOrange": $darkOrange,
  "darkTeal": $darkTeal,
  "darkNavy": $darkNavy,
  "lightYellow": $lightYellow,
  "lightGray": $lightGray,
  "lightTeal": $lightTeal
);

$shades: (
  "violet-200": $violet-200,
  "orange-200": $orange-200
);

//==============================
// CSS variables creation

:where(html) {
  $maps: $primaryColors, $secondaryColors, $shades;

  @each $map in $maps {
    @each $name, $color in $map {
      --c-#{$name}: #{$color};
    }
  }
}

// ==============================
// Utility Classes Creation

@each $name, $color in $primaryColors {
  .text-#{$name} {
    color: var(--c-#{$name});
  }
  .bg-#{$name} {
    background-color: var(--c-#{$name});
  }
}

