@use "@/styles/global/tokens";

html {
  line-height: 1.5;
  font-family: tokens.$f-body;
}

// ================
// Headlines

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 2em 0 1.2em 0;
  line-height: tokens.$f-lineHeight-condensed;
  font-family: tokens.$f-heading;
}

h1 {
  font-size: clamp(tokens.$size-7, 6vw, tokens.$size-8);
  font-weight: tokens.$fontWeight-normal;
  color: var(--c-headingPrimary);
  line-height: tokens.$f-lineHeight-tight;

  strong {
    font-weight: tokens.$fontWeight-bold;
    font-size: 1.3em;
    color: var(--c-headingSecondary);

    @media (min-width: tokens.$mq-1100) {
      display: block;
    }
  }
}

h2 {
  font-size: clamp(tokens.$size-6, 4vw, tokens.$size-7);
  font-weight: tokens.$fontWeight-normal;
  color: var(--c-headingPrimary);
}

h3 {
  font-size: clamp(tokens.$size-5, 4vw, tokens.$size-6);
  font-weight: tokens.$fontWeight-bold;
  color: var(--c-headingPrimary);
}

h4 {
  // font-size: clamp(tokens.$size-3, 3vw, tokens.$size-4);
  color: var(--c-headingPrimary);
}

h5 {
  color: var(--c-headingPrimary);
}

h6 {
  color: var(--c-headingPrimary);
}

// ================
// Body Copy

p,
ul,
ol,
blockquote,
address {
  margin: 0 0 1rem 0;
  font-style: normal;
  font-weight: 300;
  color: var(--c-bodyPrimary);
  font-size: clamp(tokens.$size-3, 2vw, 1.2rem);

  strong {
    font-weight: tokens.$fontWeight-bold;
  }
}

ul,
ol {
  padding-left: 1.5em;
  margin-bottom: 1.5em;

  li {
    margin-bottom: 1em;
  }
}

:where(a:not(.button)) {
  text-decoration: underline;
  color: var(--c-linkPrimary);

  &:hover,
  &:focus {
    text-decoration: dashed underline;
    color: var(--c-linkHover);
  }
}

%small,
small,
.copyright {
  font-size: tokens.$size-3;
  font-style: italic;
  line-height: 135%;
  // color: var(--c-bodySecondary);
  display: block;
}

// ================
// Other Type Styles

.error,
.val-header {
  color: var(--c-error);
}

// ===========================
// Payload Utility Classes

:where(.text-left) {
  text-align: left;
}

:where(.text-center) {
  text-align: center;
}

:where(.text-right) {
  text-align: right;
}
