@use "@/styles/global/tokens";

body {
  background: var(--c-bg-body);

  &::before {
    content: "";
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/images/bg-pattern-dark.svg) center center;
    background-size: contain;
    // opacity: 0.1;
    z-index: tokens.$layer-0;

    @media (prefers-color-scheme: light) {
      background: url(/images/bg-pattern-light.svg) center center;
      opacity: 1;
    }
  }

  figure {
    position: relative;
    display: flex;
  }

  section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: clamp(tokens.$padding-s, 6vw, tokens.$padding-xl);
    padding-block: clamp(tokens.$padding-xl, 8vw, tokens.$padding-xxxl);
  }

  .group {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: tokens.$layer-1;

    &.center-aligned {
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: tokens.$mq-1200;
    }
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    & > div {
      flex: 1;
    }

    @media (max-width: tokens.$mq-900) {
      flex-direction: column;
    }
  }

  .column {
    display: flex;
    flex-direction: column;
    gap: clamp(tokens.$size-4, 2vw, tokens.$size-6);
  }

  .cols {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: tokens.$mq-900;
    margin: 0 auto;
    padding: clamp(tokens.$padding-m, 4vw, tokens.$padding-xl);
  }

  .cols-2 {
    gap: clamp(tokens.$size-4, 6vw, tokens.$size-9);

    & > div {
      // flex: 1 1 50%;
      flex: 1;
    }
  }
}
