@use "@/styles/global/tokens";

.quiz-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
  overflow: hidden;

  @media (min-width: tokens.$mq-1000) {
    &::after {
      content: "";
      position: absolute;
      display: block;
      top: 50%;
      right: -5%;
      transform: translateY(-50%);
      width: 50%;
      height: 120vh;
      border-top-left-radius: 100%;
      background: var(--c-teal-500);
      z-index: tokens.$layer-0;
    }
  }

  &.questions-wrapper::after {
    display: none;
  }

  .quiz-container {
    display: flex;
    width: 100%;
    max-width: tokens.$mq-1300;
    gap: clamp(tokens.$size-5, 10vw, tokens.$size-10 * 1);

    // @media (max-width: tokens.$mq-800) {
    //   align-items: flex-start;

    //   .highlighted-img {
    //     order: 0;
    //     height: 12rem;
    //   }

    //   .column:nth-child(1) {
    //     order: 1;
    //   }
    // }
  }

  figure {
    width: clamp(12rem, 30vw, 25rem);

    @media (max-width: tokens.$mq-1000) {
      display: none;
    }
  }

  h1 {
    font-size: clamp(tokens.$size-3, 8vw, tokens.$size-7 * 1.9);
  }

  h2 {
    font-size: clamp(tokens.$size-5, 7vw, tokens.$size-7 * 1.2);
  }

  .intro-title {
    color: var(--c-teal-700);
    font-size: clamp(tokens.$size-3, 3vw, tokens.$size-6);
  }
}

.questions-container {
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: clamp(tokens.$size-1, 2vw, tokens.$size-4);

    li {
    }
  }
}
