@use "@/styles/global/tokens";

.resultContent {
}

.resultsHero {
  .group {
    gap: tokens.$size-7;
    .heroContent {
      .intro-title {
        position: relative;
        width: fit-content;
        padding: 0.2em 1.5em 0.2em 0;
        font-size: clamp(tokens.$size-4, 5vw, tokens.$size-6);

        &::before {
          content: "";
          display: block;
          width: 100vw;
          height: 100%;
          position: absolute;
          z-index: tokens.$layer-1;
          top: 0;
          right: 0;
          border-top-right-radius: tokens.$borderRadius-xxxl;
          border-bottom-right-radius: tokens.$borderRadius-xxxl;
          background: var(--c-bg9);
        }

        span {
          position: relative;
          z-index: tokens.$layer-10;
        }
      }

      h1 {
        text-transform: initial;
      }
    }
  }
}

.preResultsContainer {
  .resultsHero {
    padding-bottom: 2em;

    .group {
      width: 100%;
      max-width: tokens.$mq-1000;
      .heroContent {
        width: 100%;

        p {
          font-size: clamp(tokens.$size-4, 7vw, tokens.$size-6);
        }
      }
    }
  }

  .engageForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    background: var(--c-bg5);
    padding: clamp(tokens.$size-4, 8vw, tokens.$size-10);
    border-top: 0.2em solid var(--c-teal-500);

    .formWrapper {
      .leadForm {
        width: 100%;
        max-width: tokens.$mq-800;

        h2 {
        }
      }
    }

    .btn-secondary {
      font-size: tokens.$size-4;
      margin-top: 1em;
      span {
        padding: 0.5em;
      }
    }

    a {
      color: var(--c-formLink);
      font-weight: normal;

      &:hover {
        color: var(--c-formLinkHover);
      }
    }
  }
}
