@use "sass:color";
@use "@/styles/global/tokens";
// ==========================
// Sections

.pageHero {
  border-bottom: tokens.$borderWidth-s solid var(--c-border-5);
  min-height: 70vh;

  .group {
    gap: clamp(tokens.$size-4, 4vw, tokens.$size-8);
  }
}

.highlighted-img {
  border-radius: tokens.$borderRadius-xl;
  overflow: hidden;
  box-shadow: -1rem 1rem 0 var(--c-shadow1);
}

@mixin decoElement($color) {
  &::after {
    position: absolute;
    content: "";
    display: block;
    background-color: $color;
    width: 70vw;
    height: 120%;
    z-index: 1;
    top: 0;
    left: 0;
    border-bottom-right-radius: 100%;
    opacity: 0.05;

    @media (min-width: tokens.$mq-1000) {
      width: 50vw;
      left: -4em;
      opacity: 1;
    }

    @media (prefers-color-scheme: light) and (max-width: tokens.$mq-1000) {
      opacity: 0.45;
    }
  }
}

.quizSection {
  display: flex;
  justify-content: center;
  background: var(--c-bg-body);
  overflow: hidden;
  position: relative;

  @include decoElement(var(--c-bg4));

  figure {
    @media (max-width: tokens.$mq-900) {
      max-width: 70%;
      margin-bottom: 2rem;
    }
  }
}

.stats-section {
}
