@use "sass:color";
@use "@/styles/global/tokens";
// ==========================
// Sections

.pageHero {
  border-bottom: tokens.$borderWidth-s solid var(--c-border-5);
  min-height: 70vh;

  .group {
    gap: clamp(tokens.$size-4, 4vw, tokens.$size-8);

    .heroImage {
      position: relative;

      &::before {
        content: "";
        display: block;
        width: 15rem;
        height: 15rem;
        background: var(--c-teal-600);
        position: absolute;
        border-top-right-radius: 100%;
        top: -20%;
        right: -20%;
      }

      &::after {
        content: "";
        display: block;
        width: 20rem;
        height: 20rem;
        background: var(--c-yellow-400);
        position: absolute;
        border-top-left-radius: 100%;
        bottom: -5%;
        left: -5%;
      }

      img {
        position: relative;
        z-index: tokens.$layer-2;
        border-bottom-left-radius: 100%;
      }
    }
  }
}

.highlighted-img {
  border-radius: tokens.$borderRadius-xl;
  overflow: hidden;
  box-shadow: -1rem 1rem 0 var(--c-shadow1);
}

@mixin decoElement($color) {
  &::after {
    position: absolute;
    content: "";
    display: none;
    background-color: $color;
    width: 70vw;
    height: 120%;
    z-index: 1;
    top: 0;
    left: 0;
    border-bottom-right-radius: 100%;
    // opacity: 0.05;

    @media (min-width: tokens.$mq-1000) {
      display: block;
      width: 50vw;
      left: -4em;
      // opacity: 1;
    }

    // @media (prefers-color-scheme: light) and (max-width: tokens.$mq-1000) {
    //   opacity: 1;
    // }
  }
}

.quizSection {
  display: flex;
  justify-content: center;
  background: var(--c-bg-body);
  overflow: hidden;
  position: relative;

  @include decoElement(var(--c-teal-500));

  figure {
    @media (max-width: tokens.$mq-900) {
      max-width: 70%;
      margin-bottom: 2rem;
    }
  }
}

// .stats-section {
// }

.whyChoose {
  .column {
    &:nth-child(1) {
      flex: 1 1 70%;
    }

    &:nth-child(2) {
      flex: 1 1 30%;

      @media (max-width: tokens.$mq-900) {
        display: none;
      }
    }
  }
}

.testimonial {
  position: relative;
  background: var(--c-bg3);
  border-bottom: tokens.$borderWidth-s solid var(--c-border-5);

  .quotation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    max-width: tokens.$mq-900;

    p {
      font-size: clamp(tokens.$size-3, 2vw, tokens.$size-5);
      font-weight: tokens.$fontWeight-semibold;
      font-family: tokens.$f-serif;
      color: var(--c-bodyPrimary);
      margin-bottom: 1rem;
    }

    &::before {
      content: "";
      display: block;
      width: clamp(tokens.$size-8, 8vw, tokens.$size-10);
      height: clamp(tokens.$size-8, 8vw, tokens.$size-10);
      background: url("/images/quote-icon.svg") no-repeat center;
      background-size: contain;
      margin-bottom: 2em;
    }

    .testimonialAuthor {
      border-top: 1px solid var(--c-bodyPrimary);
      padding-top: 1em;
      font-family: tokens.$f-sans;

      p {
      }
      small {
        font-style: italic;
        color: var(--c-bodyPrimary);
      }
    }
  }

  &::after {
    content: "";
    display: block;
    font-size: clamp(tokens.$size-8, 8vw, tokens.$size-10);
    width: 0.8em;
    height: 5em;
    background: url("/images/appily-vector-shapes.svg") no-repeat center;
    background-size: contain;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    @media (max-width: tokens.$mq-900) {
      display: none;
    }
  }
}

.comparison {
  .group {
    .intro-text {
      text-align: center;
      color: var(--c-bodyPrimary);
      max-width: tokens.$mq-800;
    }

    .infograph {
      .icon-card {
        display: flex;
        flex-direction: column;
        background: var(--c-bg5);
        border-radius: tokens.$borderRadius-xl;
        box-shadow: -0.5rem 0.5rem 0 var(--c-shadow2);
        color: var(--c-bodyPrimary);
        padding: clamp(tokens.$padding-m, 3vw, tokens.$padding-xxl);

        .icon-card-head {
          display: flex;
          align-items: center;
          gap: tokens.$size-4;

          img {
            display: block;
            width: clamp(tokens.$size-5, 10vw, tokens.$size-8 * 3);
            height: clamp(tokens.$size-5, 10vw, tokens.$size-8 * 3);
            flex-shrink: 0;
          }

          .icon-card-title {
            font-size: clamp(tokens.$size-4, 3vw, tokens.$size-7);
            margin: 0;
          }
        }

        .card-content {
        }
      }
    }
  }
}

.whatIsCappex {
  padding: 0;

  & > .group {
    padding-block: clamp(tokens.$padding-xxl, 10vw, tokens.$padding-xxxxl);
    padding-inline: clamp(tokens.$padding-s, 6vw, tokens.$padding-xl);
    border-bottom: tokens.$borderWidth-xxs solid var(--c-border-5);
  }

  .stats-section {
    background: none;
    border: none;
    padding-top: clamp(tokens.$padding-s, 6vw, tokens.$padding-xl);
  }
}

.takeQuiz {
  background: var(--c-bg6);
  border-top: tokens.$borderWidth-s solid var(--c-border-5);
}
