.tabsSection {
  // background: var(--c-bg5);

  .react-tabs {
    background: none;

    &::before {
      background: none;
    }

    &__tab {
      &::before {
        display: none;
      }

      figure {
        width: clamp(2rem, 3vw, 3rem);
        height: auto;
      }
    }

    &__tab--selected {
      background: var(--c-bg-body);
    }

    &__tab-panel {
      figure {
        width: 100%;
        max-width: 20em;
      }
    }
  }

  &.bg-none {
    background: none;

    .react-tabs {
      background: none;

      &::before {
        background: none;
      }
    }
  }

  &.no-content-media {
    div[class*="__tab-panel"][class*="-selected"]::before {
      display: none;
    }
  }

  &__head {
    display: block;
    width: 100%;
    max-width: 65rem;
  }

  &__footer {
    display: block;
    width: 100%;
    max-width: 65rem;
  }
}
