@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@mixin buttons {
  display: flex !important;
  padding-block: 0.5em;
  padding-inline: 0.9em;
  transition: all 0.2s ease-in;
  height: initial !important;
  margin: initial !important;
  text-decoration: none;
  color: white;
  font-family: "Helvetica Neue", sans-serif;

  &:hover {
    background: rgba(white, 0.1);
    color: white;
    text-decoration: none;

    &::before {
      color: #007ee5;
      color: var(--c-linkPrimary);
    }

    span {
      text-decoration: underline;
    }
  }
}

// ==============================

.adminBar {
  display: flex;
  background: #1d1d1d;
  position: sticky;
  top: 0;
  z-index: 100000;

  a {
    display: flex;
    width: fit-content;
    gap: 0.2em;
    align-items: center;

    &::before {
      font-family: "Material Icons";
      font-size: 1.2em;
    }
  }

  & > a:not(.button) {
    @include buttons;
  }

  & + header {
    top: 2.8rem;
  }
}

.logo {
  &::before {
    content: "home";
  }
}

.user {
  &::before {
    content: "person";
  }
}

.edit {
  &::before {
    content: "edit";
  }
}

.create {
  &::before {
    content: "add";
  }
}

.logout {
  &::before {
    content: "logout";
  }
}

.controls {
  display: flex;
  align-items: center;
  margin-inline: auto 0;

  a:not(.button) {
    @include buttons;
  }
}
